@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Your music library!</h1>

    <style>
        h1 {
            position:relative;
            top:-25px;
        }
        .jumbotron {
            background-image: url(/img/logo.png);
            background-repeat: no-repeat;
            height:500px;
        }
    </style>
</div>
