@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Your music library!</h1>

    <img src="http://img-fotki.yandex.ru/get/6100/119528728.1855/0_cfb90_9fbcd3e9_L.jpg" alt="Alternate Text" id="logo" />

    <style>
        img {
            position:relative;
            left:313px;
        }
        h1 {
            position:relative;
            top:-25px;
        }
    </style>
</div>
